* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'sk-modernist-regular', sans-serif;
  background-color: #0D0D0D;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  color: #F2C791;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 19.4rem;
  letter-spacing: 0.1rem;
  line-height: 90%;
  font-family: 'Bigilla', sans-serif;
  color: #F2C791;
}

h2 {
  font-size: 6.4rem;
  color: #F2C791;
  line-height: 90%;
  font-family: 'Bigilla', sans-serif;
}

h3 {
  font-size: 10rem;
}

p {
  font-size: 1.6rem;
  line-height: 130%;
  letter-spacing: 0.2px;
  font-family: 'sk-modernist-regular', sans-serif;
  color: #F2C791;
}

a {
  font-size: 2.4rem;
  color: #F2C791;
  line-height: 120%;
}

/* Intro video styles */
.intro-video {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-text2 h1 {
  color: #F2C791;
  font-size: 19.4rem;
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 120%;
  margin-bottom: 1rem;
}

.slider {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 6rem;
  padding-top: 2rem;
  min-height: 10vh;
  z-index: 1;
  position: relative;
}

.navline-section {
  padding: 0px 6rem;
}

.nav-line {
  width: 100%;
}

hr {
  border-top: 1px solid #F2C791;
  margin-top: 2rem;
}

.hero {
  padding: 0px 6rem;
  margin-top: 6rem;
}

.hero .picture-main {
  margin-top: 6rem;
}

.year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -14rem;
}

.year p {
  font-family: 'Bigilla', sans-serif;
  font-size: 6.4rem;
  color: #F2C791;
  line-height: 120%;
  border: 1px solid #F2C791;
  padding: 2.4rem 8rem;
  border-radius: 60%;
}

.resturant-info {
  padding: 0px 6rem;
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resturant-info .info-1 {
  margin-top: 2rem;
}

.resturant-info .info-2 {
  margin-top: 2rem;
}

.resturant-info .info-3 {
  margin-top: 2rem;
  padding-bottom: 15rem;
}

.resturant-info .fire-pit {
  margin-top: 6rem;
  width: 40rem;
  height: 78rem;
}

.resturant-info .bar-title {
  margin-top: 6rem;
}

.resturant-info .bar-half {
  width: 60%;
}

.resturant-info .woman {
  width: 74rem;
  height: 65rem;
}

.menu-section {
  padding: 0px 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-section h3 {
  font-size: 19.4rem;
  letter-spacing: 0.1rem;
  line-height: 90%;
  font-family: 'Bigilla', sans-serif;
  color: #F2C791;
  margin-top: 15rem;
}

.menu-items {
  padding: 0px 6rem;
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15rem;
}

.menu-items .pizza {
  width: 52rem;
  height: 60rem;
}

.menu-items .item1 {
  margin-top: 4rem;
  font-size: 6.4rem;
  letter-spacing: 0.1rem;
  line-height: 90%;
  font-family: 'Bigilla', sans-serif;
  color: #F2C791;
}

.menu-items .menu-section2 {
  width: 60%;
  margin-left: 14rem;
}

.menu-items .pizza2 {
  width: 63rem;
  height: 40rem;
}

.menu-items .item2 {
  margin-top: 4rem;
  font-size: 6.4rem;
  letter-spacing: 0.1rem;
  line-height: 90%;
  font-family: 'Bigilla', sans-serif;
  color: #F2C791;
}

.bar-section {
  padding: 0px 6rem;
  padding-bottom: 15rem;
  position: relative;
}

.bar-section .bar-title {
  font-size: 19.4rem;
  letter-spacing: 0.1rem;
  line-height: 90%;
  font-family: 'Bigilla', sans-serif;
  color: #F2C791;
  z-index: 100;
  position: absolute;
  left: 20%;
  top: 10%;
}

.bar-section .bar {
  z-index: -1;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 1.6rem;
  color: #F2C791;
  font-family: 'sk-modernist-regular', sans-serif;
  border: 1px solid #F2C791;
  background-color: transparent;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #1d1d1d;
  color: #F2C791;
}

.image-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.image-section .table {
  width: 52rem;
  height: 70rem;
}

.image-section .bar-night {
  width: 52rem;
  height: 70rem;
}

.image-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15rem;
  padding-bottom: 15rem;
}

.image-section2 .drinks {
  width: 52rem;
  height: 70rem;
}

.image-section2 .chef {
  width: 52rem;
  height: 70rem;
}

.image-text {
  padding: 0px 6rem;
  text-align: center;
}

.image-text .text {
  font-size: 20rem;
  letter-spacing: 0.1rem;
  line-height: 110%;
  font-family: 'Bigilla', sans-serif;
  color: #F2C791;
  position: absolute;
  z-index: 100;
  margin-top: -50rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 6rem;
  padding-bottom: 15rem;
}

footer a {
  font-size: 1.6rem;
  line-height: 130%;
}

footer p {
  font-size: 1.6rem;
  line-height: 130%;
  color: #F2C791;
}

footer .contact-title {
  margin-bottom: 2rem;
}

footer .social-title {
  margin-bottom: 2rem;
}

footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .address-icon {
  font-size: 1.6rem;
  text-align: center;
  color: #F2C791;
  line-height: 120%;
  border: 1px solid #F2C791;
  padding: 3.4rem 4rem;
  border-radius: 60%;
  margin-right: 6rem;
}

@media only screen and (max-width: 1438px) {
  .year {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -0rem;
  }
}

@media only screen and (max-width: 1289px) {
  h1 {
    font-size: 14rem;
  }
  .year {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -12rem;
  }
  .menu-section {
    padding: 0px 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-section h3 {
    font-size: 15rem;
    letter-spacing: 0.1rem;
    line-height: 90%;
    font-family: 'Bigilla', sans-serif;
    color: #F2C791;
    margin-top: 15rem;
  }
  .menu-items {
    padding: 0px 6rem;
    margin-top: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 15rem;
  }
  .menu-items .pizza {
    width: 42rem;
    height: 50rem;
  }
  .menu-items .item1 {
    margin-top: 4rem;
    font-size: 6.4rem;
    letter-spacing: 0.1rem;
    line-height: 90%;
    font-family: 'Bigilla', sans-serif;
    color: #F2C791;
  }
  .menu-items .menu-section2 {
    width: 60%;
    margin-left: 14rem;
  }
  .menu-items .pizza2 {
    width: 53rem;
    height: 30rem;
  }
  .menu-items .item2 {
    margin-top: 4rem;
    font-size: 6.4rem;
    letter-spacing: 0.1rem;
    line-height: 90%;
    font-family: 'Bigilla', sans-serif;
    color: #F2C791;
  }
}

@media only screen and (max-width: 1100px) {
  .resturant-info {
    padding: 0px 6rem;
    margin-top: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .resturant-info .info-3 {
    margin-top: 2rem;
    padding-bottom: 6rem;
  }
  .resturant-info .fire-pit {
    margin-top: 6rem;
    width: 26rem;
    height: 48rem;
  }
  .resturant-info .bar-half {
    width: 50%;
  }
  .resturant-info .woman {
    width: 28rem;
    height: 24rem;
    margin-top: 6rem;
  }
  .image-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image-section .table {
    width: 30rem;
    height: 40rem;
  }
  .image-section .bar-night {
    width: 30rem;
    height: 40rem;
    margin-top: 8rem;
  }
  .image-section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 8rem;
    padding-bottom: 8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image-section2 .drink {
    width: 30rem;
    height: 40rem;
  }
  .image-section2 .chef {
    width: 30rem;
    height: 40rem;
    margin-top: 8rem;
  }
  .image-text {
    padding: none;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .image-text .text {
    font-size: 6.4rem;
    letter-spacing: 0.1rem;
    line-height: 110%;
    font-family: 'Bigilla', sans-serif;
    color: #F2C791;
    position: relative;
    z-index: 100;
    margin-top: 8rem;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 15rem;
    text-align: center;
  }
  footer a {
    font-size: 1.6rem;
    line-height: 130%;
  }
  footer p {
    font-size: 1.6rem;
    line-height: 130%;
    color: #F2C791;
  }
  footer .contact-title {
    margin-bottom: 2rem;
  }
  footer .social-title {
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  footer .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .address-icon {
    font-size: 1.6rem;
    text-align: center;
    color: #F2C791;
    line-height: 120%;
    border: 1px solid #F2C791;
    padding: 3.4rem 4rem;
    border-radius: 60%;
    margin-right: 0rem;
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 1047px) {
  h1 {
    font-size: 14rem;
  }
  .year {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0rem;
  }
}

@media only screen and (max-width: 1100px) {
  .menu-section {
    padding: 0px 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-section h3 {
    font-size: 15rem;
    letter-spacing: 0.1rem;
    line-height: 90%;
    font-family: 'Bigilla', sans-serif;
    color: #F2C791;
    margin-top: 15rem;
  }
  .menu-items {
    padding: 0px 6rem;
    margin-top: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 15rem;
  }
  .menu-items .pizza {
    width: 74rem;
    height: 80rem;
  }
  .menu-items .item1 {
    margin-top: 4rem;
    font-size: 6.4rem;
    letter-spacing: 0.1rem;
    line-height: 90%;
    font-family: 'Bigilla', sans-serif;
    color: #F2C791;
  }
  .menu-items .menu-section2 {
    margin-left: 0rem;
  }
  .menu-items .pizza2 {
    width: 70rem;
    height: 50rem;
    margin-top: 8rem;
  }
  .menu-items .item2 {
    margin-top: 4rem;
    font-size: 6.4rem;
    letter-spacing: 0.1rem;
    line-height: 90%;
    font-family: 'Bigilla', sans-serif;
    color: #F2C791;
  }
  .bar-section .bar-title {
    font-size: 14rem;
    letter-spacing: 0.1rem;
    line-height: 90%;
    font-family: 'Bigilla', sans-serif;
    color: #F2C791;
    z-index: 100;
    position: absolute;
    left: 20%;
    top: 10%;
  }
}

@media only screen and (max-width: 943px) {
  h1 {
    font-size: 14rem;
  }
  .intro-text2 h1 {
    color: #F2C791;
    font-size: 8rem;
    text-align: center;
  }
  .year {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -10rem;
  }
  .bar-section .bar-title {
    font-size: 12rem;
    letter-spacing: 0.1rem;
    line-height: 90%;
    font-family: 'Bigilla', sans-serif;
    color: #F2C791;
    z-index: 100;
    position: absolute;
    left: 20%;
    top: 10%;
  }
}

@media only screen and (max-width: 800px) {
  .menu-section {
    padding: 0px 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-section h3 {
    font-size: 8rem;
    letter-spacing: 0.1rem;
    line-height: 90%;
    font-family: 'Bigilla', sans-serif;
    color: #F2C791;
    margin-top: 6rem;
  }
  .menu-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 10rem;
    padding: 0px 6rem;
  }
  .menu-items .menu-section2 {
    width: 100%;
    margin-left: 0rem;
  }
  .menu-items .pizza {
    max-width: 60rem;
    max-height: 60rem;
  }
  .menu-items .pizza2 {
    max-width: 50rem;
    max-height: 40rem;
    margin-top: 6rem;
  }
  .menu-items .item2 {
    margin-bottom: 15rem;
  }
}

@media only screen and (max-width: 650px) {
  .hero {
    padding: 0px 2rem;
  }
  h1 {
    text-align: center;
  }
  header nav {
    padding: 0px 2rem;
  }
  .navline-section {
    padding: 0px 2rem;
  }
  .year {
    margin-top: 4rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .resturant-info {
    padding: 0px 2rem;
    margin-top: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .resturant-info .info-3 {
    margin-top: 2rem;
    padding-bottom: 6rem;
  }
  .resturant-info .fire-pit {
    margin-top: 6rem;
    width: 20rem;
    height: 40rem;
  }
  .resturant-info .bar-half {
    width: 50%;
  }
  .resturant-info .woman {
    width: 20rem;
    height: 20rem;
    margin-top: 6rem;
  }
  .menu-section h3 {
    font-size: 8rem;
  }
  .menu-section {
    padding: 0px 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-section h3 {
    font-size: 8rem;
    letter-spacing: 0.1rem;
    line-height: 90%;
    font-family: 'Bigilla', sans-serif;
    color: #F2C791;
    margin-top: 6rem;
  }
  .menu-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 10rem;
    padding: 0px 4rem;
  }
  .menu-items .menu-section2 {
    width: 100%;
    margin-left: 0rem;
  }
  .menu-items .pizza {
    max-width: 32rem;
    max-height: 30rem;
  }
  .menu-items .pizza2 {
    max-width: 32rem;
    max-height: 20rem;
    margin-top: 6rem;
  }
  .bar-section {
    padding: none;
    padding-bottom: 10rem;
    position: relative;
    margin-top: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bar-section .bar-title {
    font-size: 8rem;
    letter-spacing: 0.1rem;
    line-height: 90%;
    font-family: 'Bigilla', sans-serif;
    color: #F2C791;
    z-index: 100;
    position: absolute;
    left: 20%;
    top: 10%;
  }
  .bar-section .bar {
    z-index: -1;
    width: 44rem;
    max-height: 40rem;
  }
}

@media only screen and (max-width: 550px) {
  .hero {
    padding: 0 2rem;
  }
  h1 {
    font-size: 12rem;
    text-align: center;
  }
  .intro-text2 h1 {
    color: #F2C791;
    font-size: 6.4rem;
    text-align: center;
  }
  .menu-items {
    padding: 0px 4rem;
  }
  .menu-items .pizza {
    width: 40rem;
    height: 50rem;
  }
  .menu-items .pizza2 {
    width: 40rem;
    height: 20rem;
    margin-top: 8rem;
  }
  .menu-items .item2 {
    margin-bottom: 4rem;
  }
  .bar-section {
    padding: none;
    padding-bottom: 10rem;
    position: relative;
    margin-top: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bar-section .bar-title {
    font-size: 8rem;
    letter-spacing: 0.1rem;
    text-align: center;
    line-height: 90%;
    font-family: 'Bigilla', sans-serif;
    color: #F2C791;
    z-index: 100;
    position: absolute;
    left: 15%;
    top: 10%;
  }
  .bar-section .bar {
    z-index: -1;
    width: 44rem;
    max-height: 40rem;
  }
}

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 8rem;
  }
  .intro-text2 h1 {
    color: #F2C791;
    font-size: 6.4rem;
    text-align: center;
  }
  .hero {
    padding: 0px 2rem;
  }
  header nav {
    padding: 0px 2rem;
  }
  .navline-section {
    padding: 0px 2rem;
  }
  .main-text {
    text-align: center;
  }
  .year {
    margin-top: 4rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .resturant-info {
    padding: none;
    margin-top: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .resturant-info .info-3 {
    margin-top: 2rem;
    padding-bottom: 6rem;
  }
  .resturant-info .fire-pit {
    margin-top: 6rem;
    width: 26rem;
    height: 48rem;
  }
  .resturant-info .bar-half {
    width: 100%;
  }
  .resturant-info .woman {
    width: 28rem;
    height: 24rem;
    margin-top: 6rem;
  }
  .menu-section {
    padding: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-section h3 {
    font-size: 8rem;
    letter-spacing: 0.1rem;
    line-height: 90%;
    font-family: 'Bigilla', sans-serif;
    color: #F2C791;
    margin-top: 6rem;
  }
  .menu-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 10rem;
    padding: 0px 2rem;
  }
  .menu-items .menu-section2 {
    width: 100%;
    margin-left: 0rem;
  }
  .menu-items .pizza {
    max-width: 32rem;
    max-height: 30rem;
  }
  .menu-items .pizza2 {
    max-width: 32rem;
    max-height: 20rem;
    margin-top: 6rem;
  }
  .bar-section {
    padding: none;
    padding-bottom: 10rem;
    position: relative;
    margin-top: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bar-section .bar-title {
    font-size: 6rem;
    letter-spacing: 0.1rem;
    line-height: 90%;
    font-family: 'Bigilla', sans-serif;
    color: #F2C791;
    z-index: 100;
    position: absolute;
    left: 17%;
    top: 10%;
  }
  .bar-section .bar {
    z-index: -1;
    width: 32rem;
    max-height: 20rem;
  }
  .image-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image-section .table {
    width: 30rem;
    height: 40rem;
  }
  .image-section .bar-night {
    width: 30rem;
    height: 40rem;
    margin-top: 8rem;
  }
  .image-section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 8rem;
    padding-bottom: 8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image-section2 .drink {
    width: 30rem;
    height: 40rem;
  }
  .image-section2 .chef {
    width: 30rem;
    height: 40rem;
    margin-top: 8rem;
  }
  .image-text {
    padding: none;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .image-text .text {
    font-size: 6.4rem;
    letter-spacing: 0.1rem;
    line-height: 110%;
    font-family: 'Bigilla', sans-serif;
    color: #F2C791;
    position: relative;
    z-index: 100;
    margin-top: 8rem;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20rem;
    text-align: center;
  }
  footer a {
    font-size: 1.6rem;
    line-height: 130%;
  }
  footer p {
    font-size: 1.6rem;
    line-height: 130%;
    color: #F2C791;
  }
  footer .contact-title {
    margin-bottom: 2rem;
  }
  footer .social-title {
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  footer .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .address-icon {
    font-size: 1.6rem;
    text-align: center;
    color: #F2C791;
    line-height: 120%;
    border: 1px solid #F2C791;
    padding: 3.4rem 4rem;
    border-radius: 60%;
    margin-right: 0rem;
    margin-top: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */